/**
 * Colors Palette::content(rgb)
 * Black                    -> rgb(0, 0, 0)
 * Blue Violet Color Wheel  -> rgb(70, 24, 115)
 * Purple                   -> rgb(105, 16, 168)
 * Purple X 11              -> rgb(159, 33, 227)
 * Medium Orchid            -> rgb(203, 93, 241)
 * Mauve                    -> rgb(234, 191, 250)
 * Bright Lilac             -> rgb(220, 147, 246)
 * Pale Purple Pantone      -> rgb(247, 235, 253)
 * White                    -> rgb(255, 255, 255)
 */

html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
}

h3 {
    line-height: .1em;
}

.container {
    background-color: rgb(70, 24, 115);
    background: linear-gradient(
        -45deg, 
        rgb(70, 24, 115) 0%, 
        rgb(105, 16, 168) 16.6%,
        rgb(159, 33, 227) 33.3%,
        rgb(203, 93, 241) 50%,
        rgb(220, 147, 246) 66.6%,
        rgb(234, 191, 250) 83.3%,        
        rgb(247, 235, 253) 100%
    );
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 1300px;
    max-height: 600px;
    width: 80%;
    height: 82.5%;
    background-color: white;
    padding: .8em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16), 0 3px 7px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.subcontent {
    margin: 0% 15% 2.5% 15%;
}

.title {
    font-family: 'Zen Loop', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 0.25em;
}

.sub-content {
    height: auto;
}

.cmd {
    font-style: italic;
    color: rgb(32, 32, 32);
}

@font-face {
    font-family: 'Zen Loop';
    src:    url('../fonts/ZenLoop-Regular.ttf');

    font-family: 'M PLUS Rounded 1c';
    src:    url('../fonts/MPLUSRounded1c-Regular.ttf');
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
